*{ margin: 0px;padding: 0px; }

.nut {
    display: block;
}

.phongsss {
    padding-top: 36px;
}

.timnha {
    background: #f8f8f8;
    height: 434px;
}

button.button.nevy-button {
    margin-top: 45px;
    border: none;
    padding: 15px 45px;
}
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus 
{
    outline: none;
}
.button {
    font-size: 16px;
    font-weight: 600;
    border-radius: 26px;
    text-transform: capitalize;
    color: #ffffff;
    margin: auto;
    display: table;
    position: relative;
    transition: all 0.15s ease-in-out;
}
button, input[type="button"], input[type="reset"], input[type="submit"], input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    line-height: normal;
}
.nevy-button {
    background-color: #0e385d;
}

.button:hover {
    color: #ffffff;
}

.button:hover {
    background-color: #21b360;
}

h2.text2 {
    font-family: inherit;
    font-size: 22px;
    font-weight: 600;
    color: #20527e;
}

h2.text1 {
    font-size: 45px;
    position: relative;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    padding-top: 61px;
    color: #0e385d;
    margin-top: 10px;
}

.formsss h3 {
    text-transform: uppercase;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}
.formsss select {
    padding: 12px;
    width: 173px;
    color: #8b7575;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
    -webkit-appearance: button;
    text-transform: capitalize;
}

.formsss input[type="text"] {
    display: block;
    padding: 12px;
    color: #AEAEAE;
    border: 1px solid #E7E7E7;
    width: 174px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

.btn.btn-default.nuttrang,.nutxanh {
    border-radius: 20px;
    font-size: 19px;
    padding: 10px 37px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    width: 188px;
    margin-top: 29px;
}

.khoitext {
    position: relative;
    z-index: 2;
    margin-top: 62px;
    text-align: center;
    height: 473px;
    display: table-cell;
    width: 100%;
    font-size: 56px;
    font-family: "Playfair Display", serif;
    color: white;
    font-weight: 500;
}

.d2 {
    font-weight: bold;
    font-size: 85px;
    max-width: 100%;
    display: block;
}

.d1 {
    font-size: 29px;
    display: block;
    width: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ff0000;
}

.navbar-default .navbar-nav>.active>a:after {
    content: "";
    height: 2px;
    background: #ff0000;
    bottom: 10px;
    left: 29%;
    position: absolute;
    width: 43%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #ff0000;
}

.headertren {
    padding-top: 47px;
    background: url(image/01.jpg);
    min-height: 780px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.do{ color: red; }

.headertren:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #0000006b;
    position: absolute;
    top: 0px;
}

nav.navbar.navbar-default {
    background: transparent;
    border: 1px solid transparent;
    position: relative;
    z-index: 2;
}
.apartments-content {
    position: relative;
    overflow: hidden;
}
.apartments-content {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
}
.apartments-content .image-content {
    overflow: hidden;
    clear: both;
    border-radius: 5px;
}
a:hover, a:active {
    outline: 0;
    text-decoration: none;
}
a:hover, a:focus {
    color: #21b360;
    outline-offset: -2px;
}
.apartments-content .text-content .top-content {
    border: 1px solid #E4E4E4;
    padding: 0px 20px 20px;
    margin-top: -3px;
}
.apartments-content .text-content h3 {
    font-weight: 800;
    color: #292928;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    clear: both;
}
.apartments-content .text-content .top-content h3 a:hover {
    color: #21b360;
}
h3 a:hover {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    outline: 0;
}
.apartments-content .text-content .top-content span {
    font-size: 16px;
    color: #33316d;
    font-weight: 500;
}
.apartments-content .text-content .bottom-content {
    padding: 20px 20px 20px;
    font-size: 16px;
    color: #333131;
    font-weight: 500;
    border: 1px solid #E4E4E4;
    border-top: none;
    border-radius: 0 0 5px 5px;
}
.apartments-area .apartments-content .text-content .bottom-content .meta-bed-room {
    margin-right: 14px;
}
.apartments-content .text-content .bottom-content > div {
    display: inline-block;
}
.apartments-content .text-content .bottom-content > div i {
    margin-right: 5px;
}
.apartments-content .text-content .bottom-content .rent-price {
    font-size: 18px;
    margin-top: 20px;
    color: #000;
    font-weight: bold;
}
