*{ margin: 0px;padding: 0px; }

.tieude {
    padding-top: 24px;
}

.bando {
    background-color: #edf3f8;
}
span.color_red {
    color: red;
}

.tieude font {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.button font {
    font-weight: bold;
}

h2.text12 {
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    padding-top: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

h2.text22 {
    color: #00000082;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

div#booter {
    margin-top: 6px;
}

img.mt-5.mb-20 {
    padding-top: p;
}

.nut.ssda {margin-top: 12px;}

.phong {
    padding-top: 7px;
}
button.button.nevy-button {
    margin-top: 45px;
    border: none;
    padding: 15px 45px;
}

button.button.nevy-button:hover {
    background-color: #21b360;
}
.apartments-content {
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
}
.apartments-content {
    position: relative;
    overflow: hidden;
}
.apartments-content .text-content .top-content span {
    font-size: 16px;
    color: #33316d;
    font-weight: 500;
}
.apartments-content .text-content .top-content h3 a:hover {
    color: #21b360;
}
h3 a:hover {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
}
a:hover, a:focus {
    color: #21b360;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0;
    text-decoration: none;
}
.apartments-content .text-content .top-content {
    border: 1px solid #E4E4E4;
    padding: 0px 20px 20px;
    margin-top: -3px;
}
.apartments-content .text-content .bottom-content {
    padding: 20px 20px 20px;
    font-size: 16px;
    color: #333131;
    font-weight: 500;
    border: 1px solid #E4E4E4;
    border-top: none;
    border-radius: 0 0 5px 5px;
}

.apartments-content .text-content .bottom-content > div {
    display: inline-block;
}
.apartments-content .text-content .bottom-content > div i {
    margin-right: 5px;
}
.apartments-content .text-content .bottom-content .rent-price {
    font-size: 18px;
    margin-top: 20px;
    color: #000;
    font-weight: bold;
}
.apartments-content .text-content h3 {
    font-weight: 800;
    color: #292928;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    clear: both;
}

.apartments-content .text-content h3 {
    margin-top: 23px;
    margin-bottom: 10px;
}
.apartments-content .image-content {
    overflow: hidden;
    clear: both;
    border-radius: 5px;
}
.nevy-button {
    background-color: #0e385d;
}
.button {
    font-size: 16px;
    font-weight: 600;
    border-radius: 26px;
    text-transform: capitalize;
    color: #ffffff;
    margin: auto;
    display: table;
    position: relative;
    transition: all 0.15s ease-in-out;
}

.sss select {
    padding: 12px;
    width: 173px;
    color: #8b7575;
    border: 1px solid #E7E7E7;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
    -webkit-appearance: button;
    text-transform: capitalize;
}

.sss input[type="text"] {
    display: block;
    padding: 12px;
    color: #AEAEAE;
    border: 1px solid #E7E7E7;
    width: 174px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
}

form.sss {
    padding: 10px 10px 12px;
}

.giua {
    margin-top: 26px;
}

h2.text2 {
    font-family: inherit;
    font-size: 22px;
    font-weight: 600;
    color: #20527e;
}

h2.text1 {
    font-size: 45px;
    position: relative;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #0e385d;
    margin-top: 10px;
}

.nut {
    margin: 36px 0px 14px;
}

a.btn.btn-info.nutxanh {
    font-size: 16px;
    font-weight: 600;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 15px 45px;
    background-color: #0e385d;
    border-radius: 26px;
    text-transform: capitalize;
    color: #ffffff;
    margin: auto;
    display: table;
    position: relative;
    transition: all 0.15s ease-in-out;
}

a.btn.btn-info.nutxanh:hover {
    background-color: #21b360;
}

.btn-info {}

.batext h3 {
    font-size: 52px;
    padding: 20px 0 10px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.batext h2 {font-size: 27px;}

.batext {
    margin: 0px 20px;
}


.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
    background: none;
}
.khoitext {
    position: relative;
    z-index: 2;
    margin-top: 62px;
    text-align: center;
    font-size: 56px;
    font-family: "Playfair Display", serif;
    color: white;
}


.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    padding-left: 14px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ff000082;
}

.nav-link:focus, .nav-link:hover {
}

nav.navbar.navbar-expand-xl.navbar-dark {
    background: #f7000000;
    border: 1px solid #f9000000;
    position: relative;
    z-index: 2;
}
.do
{
    color: red;
}

.menutren {
    padding-top: 47px;
    background: url(image/01.jpg);
    min-height: 671px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.menutren:after {
    width: 100%;
    content: "";
    position: absolute;
    height: 671px;
    top: 0px;
    background: #00000061;
}
.border-bottom {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 65px;
}@media (max-width: 992px)
body, h5 {
    font-size: 14px;
}
.widget {
    margin-bottom: 30px;
}
#footer p {
    font-weight: 300;
}
p {
    line-height: normal;
    margin: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mr-5 {
    margin-right: 5px !important;
}
.footer a:focus, .footer a:hover, .footer a:active {
    color: #666666;
}
.footer a, #footer p, ul.list li::before, .opening-hourse ul li {
    color: #000000;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
.widget ul li {
    margin-bottom: 5px;
    padding-bottom: 5px;
}
div#footer {
    margin-top: 108px;
    padding-top: 30px;
    background-color: #d6d6d6;
    color: black;
}#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}
/* PhÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§n ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£nh chÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡y */

.khoi-slide {
    width:  100%;
    height: 300px;
    position:  relative;
}

.cac-slide img {
    width:  100%;
}

.cac-slide {
    width:  100%;
    height:  700px;
    overflow:  hidden;
}
.slide {
    position:  absolute;
    top: 0px;
    left: 0px;
    opacity:  0;
    visibility:  hidden;
}
.slide.active1{
    opacity:  1;
    visibility:  visible;   
}
.nut-slide span{
    color: white;
    font-size: 25px;
    opacity: 0.5;
}
.line_1 {
    width: 200px;
    margin-top: 14px;
}
.line_1, .line_2, .line_3, .line_1-1, .line_2-2, .line_3-3 {
    display: block;
    height: 1px;
    background: #dbdbdb;
    position: relative;
}
.line_2 {
    width: 150px;
    margin-top: 5px;
}
.line_3 {
    width: 100px;
    margin-top: 5px;
    margin-bottom: 15px;
}
span#btn-prev{
    position: absolute;
    top: 40%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
}

span#btn-next{
    position: absolute;
    top: 40%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
}
.nut-slide ul {
    position:  absolute;
    z-index:  10;
    width:  100px;
    bottom: 15%;
    left:  50%;
    margin-left: -50px;
    display:  flex;
    justify-content:  space-between;
}
.nut-slide ul li {
    width:  10px;
    height:  10px;
    background:  white;
    opacity:  0.5;
    list-style:  none;
    border-radius:  50%;
    cursor:  pointer;
    transition: 0.6s;
}

.bien-mat-ben-trai{
    animation: bien-mat-ben-trai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-trai{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.di-vao-ben-phai{
    animation: di-vao-ben-phai 1s forwards;
}
@-webkit-keyframes di-vao-ben-phai{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
/*xÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­ lÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ nÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Âºt prev*/
.bien-mat-ben-phai{
    animation: bien-mat-ben-phai 1s forwards;
}
@-webkit-keyframes bien-mat-ben-phai{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
.di-vao-ben-trai{
    animation: di-vao-ben-trai 1s forwards;
}
@-webkit-keyframes di-vao-ben-trai{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
.nut-slide ul li.active1_nut{
    opacity: 0.8;
}
